* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: 0;
}

img,
svg,
picture {
	max-width: 100%;
}

body {
	font-size: 15px;
	font-family: 'Alata', sans-serif;
	width: 100%;
}
.container {
	max-width: 80em; /*this limits the width*/
	margin-inline: auto; /*this centers the children containers*/
	padding-inline: 4rem; /*this adds padding when width is less than 80em */
}

h1,
h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

header,
main,
footer {
	width: 100%;
	padding: 100px 150px;
}
/*HEADER SECTION*/
header {
	background-image: url(images/desktop/image-hero.jpg);

	background-repeat: none;
	background-position: center;
	background-size: cover;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}
li a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	display: flex;
	color: #fff;
	gap: 30px;
	list-style: none;
}
ul li {
	padding-bottom: 10px;
	border-bottom: 2px solid #fff;
	border-color: transparent;
	transition: border linear 500ms;
}
nav ul li:hover {
	border-color: #fff;
}
.text-box {
	width: 600px;
	border: 2px solid #fff;
	padding: 40px;
}
.text-box h1 {
	font-size: 4rem;
	line-height: 1;
	overflow-wrap: break-word;
}

/* FIRST SECTION */
div.VR {
	display: flex;
	margin-top: 50px;
	width: 100%;
}
.VR-image {
	width: 200%;
}
.VR-text {
	color: hsl(0, 0%, 55%);
	padding: 100px 0 0 90px;
	margin-left: -150px;
	background-color: #fff;
	height: 70%;
	align-self: flex-end;
}
.VR-text h2 {
	color: hsl(0, 0%, 0%);
	font-size: 3rem;
	line-height: 1;
	margin-bottom: 20px;
}

div.creations {
	margin-top: 150px;
}
.creations .top {
	display: flex;
	justify-content: space-between;
}
.top h1 {
	color: hsl(0, 0%, 0%);
	font-size: 2.25rem;
}
button {
	padding: 10px 40px;
	background-color: #fff;
	border: 1px solid hsl(0, 0%, 0%);
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
button:hover {
	background-color: hsl(0, 0%, 0%);
	color: #fff;
	cursor: pointer;
}

.gallery-grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
}

.gallery {
	margin-bottom: 20px;
}
.gallery h2 {
	margin-left: 30px;
	width: 50%;
	margin-top: -80px;
	font-weight: 400;
}
.gallery:hover img {
	cursor: pointer;
	opacity: 0.5;
	transition: all ease-in-out 500ms;
}
.gallery:hover h2 {
	color: #000;
}

/* FOOTER */
footer {
	margin: 0;
	background-color: #000;
	color: #fff;
}
.footer {
	display: flex;
	justify-content: space-between;
}

.part {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;

	gap: 30px;
}

.icons,
.rights {
	align-self: flex-end;
}

.rights {
	color: hsl(0, 0%, 41%);
}
.icons img + img {
	margin-left: 10px;
}
.icons img {
	padding-bottom: 10px;
	border-bottom: 2px solid #fff;
	border-color: transparent;
	transition: border ease-in-out 500ms;
}
.icons img:hover {
	border-color: #fff;
	cursor: pointer;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* DISPLAYS */
.mobile {
	display: none;
}

@media screen and (max-width: 600px) {
	.desktop,
	.desktop-only {
		display: none;
	}
	.mobile {
		display: block;
	}
	.hidden {
		visibility: hidden;
	}

	header,
	main,
	footer {
		padding: 80px 0px;
	}
	.container {
		padding-inline: 2rem;
	}
	/* HEADER */
	header {
		background-image: url(images/mobile/image-hero.jpg);
	}
	.hamburger:hover,
	.close:hover {
		cursor: pointer;
	}
	.text-box {
		width: 100%;
		padding: 20px;
		margin: 200px 0;
	}
	.text-box h1 {
		font-size: 2.5em;
	}
	/* MOBILE NAV */
	.navigation {
		position: absolute;
		top: 0;
		left: 0;
		padding: 80px 40px;
		width: 100%;
		height: 100vh;
		background-color: #000;
	}
	.navigation div {
		display: flex;
		justify-content: space-between;
		margin-bottom: 120px;
	}

	.navigation nav ul {
		flex-direction: column;
		text-transform: uppercase;
		font-family: 'Josefin Sans', sans-serif;
		font-size: 2.5rem;
	}

	.navigation nav ul li {
		border: none;
	}
	/* SECION VR */
	div.VR {
		flex-direction: column;
		width: 100%;
	}
	.VR-image {
		width: 100%;
	}
	.VR-text {
		margin: 0;
		margin-top: 20px;
		padding: 20px 0;
		text-align: center;
		font-size: 1.25rem;
		line-height: 2;
	}
	/* GALLERY-GRID */
	.top h1 {
		width: 100%;
		text-align: center;
	}
	.gallery-grid {
		display: flex;
		gap: 40px;
		flex-direction: column;
		width: 100%;
	}
	img.mobile {
		width: 100%;
	}
	.gallery h2 {
		margin-top: -100px;
		font-size: 2rem;
		width: 50%;
	}
	button.mobile {
		margin: 40px auto;
		letter-spacing: 5px;
		padding: 15px 60px;
	}

	/* FOOTER */
	.footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-logo {
		align-self: center;
	}
	.footer nav ul {
		margin-top: 40px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1.25rem;
	}
	.icons {
		align-self: center;
		margin-top: 50px;
	}
	.rights {
		align-self: center;
	}
}
